spring:
  datasource:
    # url: jdbc:mysql://sql12.freesqldatabase.com:3306/sql12816589
    # username: sql12816589
    # password: DtpwPh3aRv

    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect

server:
  port: 8080